;; shadow-cljs configuration
{
  :source-paths [
    "src/cljs"
  ]

  :dependencies [
  ]

  :builds {
    :code {
      :target :npm-module
      :entries [
        tanks.lib.data
        tanks.client.renderer
        tanks.client.gameloop
      ]
      :output-dir "src/gen/code" ;; node doesn't want to use a module with just js files in the root
    }
  }
}
